<header class="container-fluid">
  <div class="row switch-site">
    <div class="col-sm-offset-1 col-xs-12 col-sm-11">
      <ul>
        <li class="active hidden-xs">
          <a href="https://www.roomstogo.com">Rooms To Go Outlet</a>
        </li>
        <li>
          <a href="https://www.roomstogo.com">Rooms To Go</a>
        </li>
        <li>
          <a href="https://www.roomstogokids.com">Kids & Teens</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row logo-row">
    <span class="hamburger icon-menu col-xs-2 hidden-sm hidden-md hidden-lg"
          [ngClass]="{'icon-menu': !menuService.isVertical, 'icon-cross': menuService.isVertical}"
          (click)="menuService.toggleSideNav()"></span>
    <div class="logo-pane col-sm-offset-1 col-xs-8 col-sm-11">
      <img src="../../assets/images/logo.jpeg" class="img-responsive" alt="Rooms To Go outlet logo">
      <app-menu class="row hidden-xs" *ngIf="!menuService.isVertical"></app-menu>
    </div>
  </div>

</header>
