@import "../../assets/styles/variables";
//@import "../../assets/linearicons/style.css";
@import "../../assets/styles/animation";


header {
  background-color: white;

  h1 {
    // it's ok to use this to hide - https://stackoverflow.com/questions/3239202/whats-the-correct-way-to-hide-the-h1-tag-and-not-be-banned-from-google
    visibility: hidden;
    font-size: 10px;
    margin: 0;
  }

  @include media-up-to(sm){
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 1px 0px 8px #5f5f5f;
    z-index: 1000;
  }
}

.switch-site {
  background: $color-blue;
  height: $switch-site-height;

  @include media-up-to(sm) {
    height: $mobile-switch-site-height;
    text-align: center;
  }

  div {
    height: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    li {
      display: inline-block;
      width: 160px;
      font-size: 14px;
      height: 100%;
      background: $color-navy;
      margin-right: 5px;
      overflow: hidden;
      text-align: center;
      padding-top: 10px;
      font-weight: 600;
      text-decoration: none;

      @include media-up-to(sm) {
        width: 100px;
        background-color: transparent;
        padding-top: 2px;
        font-size: 14px;
        text-decoration: underline;
        font-weight: 200;
      }

      a {
        color: $color-white;
      }

      &.active {
        background: $color-white;
        color: $color-blue;

        a {
          color: $color-blue;
        }
      }
    }
  }
}

.logo-row {
  border-bottom: $divider-border-lightgray;
  border-top: $divider-border-lightgray;

  min-height: $logo-row-height;
  @include media-up-to(sm){
    min-height: $mobile-logo-row-height;
    height: $mobile-logo-row-height;
  }

  .logo-pane {
    display: flex;
    flex-wrap: wrap;

    img {
      margin: 20px 40px 10px 0;

      @include media-up-to(md) {
        margin: 20px 15px 10px 0;
      }

      @include media-up-to(sm) {
        margin: 8px auto;
        @include img-keep-ratio(45px);
      }
    }
  }
}

.hamburger-close {
  font-size: 30px;
  color: $color-blue;
  text-align: center;
  padding-top: 10px;
}



