<ng-template #locatorLink>
  <button class="change-location" appModalTrigger="changeLocation" [style.background-image]="'url(../../assets/svgs/state_' + userState + desktop +'.svg)'">
    {{ userState }}
  </button>
  <a class="store-locator-link" href="https://www.roomstogo.com/storelocator" target="_blank">
    <span class="hidden-xs">Store Locator</span><i class="ion-android-pin store-locator-icon"></i>
  </a>
</ng-template>


<header class="container-fluid">
  <div class="row switch-site">
    <div class="col-sm-offset-1 col-xs-12 col-sm-11">
      <ul>
        <li class="active hidden-xs">
          <a href="https://www.roomstogo.com">Rooms To Go Outlet</a>
        </li>
        <li>
          <a href="https://www.roomstogo.com">Rooms To Go</a>
        </li>
        <li>
          <a href="https://www.roomstogokids.com">Kids & Teens</a>
        </li>
      </ul>
      <h1>Rooms TO Go Outlet</h1>
    </div>
  </div>
  <div class="row logo-row">
    <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
      <span class="hamburger-close "
            [ngClass]="{'ion-android-menu': !menuService.isOpen, 'ion-android-close': menuService.isOpen}"
            (click)="menuService.toggleSideNav()"></span>
    </div>
    <div class="logo-pane col-sm-offset-1 col-xs-6 col-sm-11">
      <img src="../../assets/images/logo.jpeg"  alt="Rooms TO Go Outlet Logo" title="Rooms TO Go Outlet Logo">
      <app-menu class="hidden-xs" *ngIf="!menuService.isVertical"></app-menu>
      <div class="hidden-xs store-locator-pane"><ng-container *ngTemplateOutlet="locatorLink"></ng-container></div>
    </div>
    <div class="col-xs-3 hidden-sm hidden-lg hidden-md">
      <div class="store-locator-pane"><ng-container *ngTemplateOutlet="locatorLink"></ng-container></div>
    </div>
  </div>
</header>

<app-simple-modal closeOnBodyClick="true" elementId="changeLocation" title="Change Location">
  <app-change-location></app-change-location>
</app-simple-modal>
