@import "../../assets/styles/variables";

footer {
  background: $color-black;
  color: $color-white;
  height: 40px;
  font-size: 13px;

  span {
    display: block;
    margin: auto auto;
    text-align: center;
  }
}
