@import "../../../assets/styles/variables";
@import "../../../assets/styles/animation";


:host {
  display: inline-block;
  flex-grow: 1;
  align-self: flex-end;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

}

:host(.vertical-menu){

  width: 100%;
  top: $mobile-router-outlet-top;
  height: 100%;
  overflow: auto;
  position: fixed;
  background-color: rgba(50,46,70, 0.5);
  color: black;
  // TODO: check .no-cssanimations test this in ie9
  nav {
    li {
      display: block;
    }
    position: absolute;
    height:100%;
    width: 70%;
    background-color: $color-white;
  }
}

:host(.menu-close) {
  background-color: transparent;

  nav {
    @include animation(1ms, 150ms, move-to-left);
    left: -70%;
  }
}

:host(.menu-open) {

  nav {
    @include animation(1ms, 250ms, move-to-right);
    left:0;
  }
}
