@import "../../../assets/styles/variables";

:host {
  display: inline-block;
  flex-grow: 1;
  align-self: flex-end;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

}



:host(.vertical-menu){

  width: 100%;

  top: $mobile-router-outlet-top;
  height: 100%;
  overflow: auto;
  position: fixed;
  background-color: rgba(50,46,70, 0.5);
  color: black;
  // TODO: check .no-cssanimations test this in ie9
  nav {
    li {
      display: block;

    }
    left: 0;
    position: absolute;
    height:100%;
    width: 70%;
    background-color: $color-white;
    //animation-duration:1000ms;
    //-webkit-animation-name: move-to-left;
    //-moz-animation-name: move-to-left;
    //-o-animation-name: move-to-left;
    //animation-name: move-to-left;
  }
}
:host(.vertical-menu.vertical-menu-close) {
  background-color: transparent;
  nav {
    left: -70%;
  }
}
//:host(.vertical-menu-close) {
//  visibility: hidden;
//}


@keyframes move-to-left {
  from {
   left: -70%;
  }
  to {
    left: 0;
  }
}



