@import "../../../assets/styles/variables";

:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

:host(.vertical-menu) {
  //display: block;
  //margin-left: 0;
  //margin-top: 6px;
  //margin-bottom: 6px;
  //color: white;
}

span {
  pointer-events: none;
}


//.menu-item {
//
//}

:host:not(.in-popup) > .menu-item {
  //background-color: $color-blue;
  color: $color-navy;
  padding: 10px 25px;
  font-size: 17px;

  @include media-up-to(lg) {
    padding: 10px 15px;
  }

  @include media-up-to(md) {
    padding: 10px 8px;
    font-size: 14px;
  }
}

:host:not(.in-popup) > .menu-item:hover {
  background-color: $color-blue;
  color: $color-white;
}

:host.in-popup > .menu-item {
  color: $color-navy;
  font-size: 14px;
  padding: 4px 20px;
}

.menu-item.vertical-menu {

}

.menu-item.vertical-menu:hover {
  background-color: green;
}

.router-link-active {
  background-color: #dfd;
}

.router-link-active.vertical-menu {
  background-color: green;
}
