<div class="menu-item"
     [ngClass]="{'vertical-menu': menuService.isVertical, 'open': mouseInPopup}"
>
  <span>{{ item.text.toUpperCase() }}</span>
  <i  *ngIf="item.submenu" class="rtg-icon-arrow-right" [ngClass]="{'open': mouseInPopup }" ></i>
</div>
<app-popup-menu
  *ngIf="mouseInPopup || mouseInItem"
  [menu]="item.submenu"
  [ngClass]="{'vertical-menu': menuService.isVertical}"
  (mouseleave)="onPopupMouseLeave($event)"
  (mouseenter)="onPopupMouseEnter($event)"
  [style.left.px]="popupLeftPosition"
  [submenuLink]="item.submenuLink"
></app-popup-menu>
