@import "../../../assets/styles/variables";

:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

:host:not(.vertical-menu) {

  &:not(.in-popup) > .menu-item {
    color: $color-navy;
    padding: 8px 18px;
    font-size: 16px;

    @include media-up-to(lg) {
      padding: 7px 12px;
      font-size: 14px;
    }

    @include media-up-to(md) {
      padding: 7px 7px;
      font-size: 13px;
    }

    &:hover {
        background-color: $color-blue;
        color: $color-white;
    }
  }

  &.in-popup > .menu-item {
    color: $color-navy;
    font-size: 14px;
    padding: 4px 20px;
  }
}


:host(.vertical-menu) {
  display: block;

  i.rtg-icon-arrow-right {
    float: right;
    color: $color-navy;

    &::before {
      height: 0;
      width: 0;
      border: 6px solid transparent;
      border-top-color: $color-blue;
      display: block;
      margin-left: 7px;
      text-indent: -999em;
      cursor: pointer;
      position: absolute;
      top: 18px;
      right: 18px;
      margin: 0;
      padding: 0;
      background: none;
      z-index: 2;
      content: "";
    }

    &.open {
      &::before {
        border-top-color: transparent;
        border-bottom-color: $color-white;
        top: 13px;
      }
    }
  }

  &:not(.in-popup) > .menu-item {
    padding: 12px 20px;
    border-top: $divider-border-lightgray;
    color: $color-blue;
    font-weight: 700;
    font-size: 14px;

    &.open {
      background-color: $color-blue;
      color: $color-white;
    }

    &:hover {

    }
  }

  &.in-popup > .menu-item {
    color: $color-darkgray;
    font-size: 16px;
    padding: 9px 20px;

    &::before {
      content: "  ";
      //https://stackoverflow.com/questions/5467605/add-a-space-after-an-element-using-after
      white-space: pre;
    }
  }
}


.router-link-active {
  background-color: red;
}

.router-link-active.vertical-menu {
  background-color: red;
}
