<!--<div id="{{elementId}}" #modalcontainer class="modal fade" tabindex="-1">-->
  <!--<div class="modal-dialog vertical-middle" [ngClass]="{'modal-sm': menuService.isVertical}" >-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>-->
        <!--<h4 class="modal-title">{{title}}</h4>-->
      <!--</div>-->
      <!--<div class="modal-body" (click)="closeModal()">-->
        <!--<ng-content></ng-content>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div id="{{elementId}}" #modalContainer  class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog" [ngClass]="{'modal-sm': modalSize == modalSizeEnum.Small, 'modal-lg': modalSize == modalSizeEnum.Large}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
      </div>
      <div class="modal-body" [style.min-height]="modalMinHeight">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onPrimaryBtnClick()">{{ saveButtonText }}</button>
      </div>
    </div>
  </div>
</div>
