@import "../assets/styles/variables";


.vertical-menu-overlay {
  @include filter(blur(3px));
  z-index: -1;
  height: 100%;
  width: 100%;
  position: relative;
  &.off {
    @include filter(none);
  }

}
