@import "../../../assets/styles/variables.scss";

:host:not(.vertical-menu) {
  position: absolute;
  z-index: 100;
  width: 600px;
  background-color: $color-white;
  border-bottom: $divider-border-lightgray;
  border-left: $divider-border-lightgray;
  border-right: $divider-border-lightgray;
  border-top: solid 3px $color-white;
  top: 38px;
  //box-shadow: $header-box-shadow;

  @include media-up-to(lg) {
    top: 30px;
  }

  img {
    float: right;
    margin: 10px;
  }
}

:host(.vertical-menu) {
  border-top: $divider-border-lightgray;

}


