<div class="row sales-container">
  <div class="col-xs-2 no-padding"></div>
  <div class="col-xs-8 sales-desc" [ngClass]="{'expanded': expanded, 'collapsed': !expanded}">
    <div *ngIf="!expanded">Huge Cyber Monday Sales!</div>
    <div *ngIf="expanded">25% off store wide all items. All rewards members 30% off with code sent to emails.</div>
  </div>
  <div class="col-xs-2">
    <span class="expandable-button" (click)="expandCollapse()">[<i
      [ngClass]="{'ion-android-remove': expanded, 'ion-android-add': !expanded}"></i>]</span>
  </div>
</div>

