@import "../../assets/styles/variables";

.breadcrumb {
  background-color: $color-white;
}

.main-image-pane {
  //background-image: url('../../assets/images/Livingroom_Header.jpg');
  background-repeat: no-repeat;
  background-color: #f3ede8;
  background-position: center -27px;
  min-height: 372px;

  @include media-up-to(lg) {
    min-height: 280px;
  }

  @include media-up-to(sm) {
    min-height: 220px;
  }

  .title {
    position: absolute;
    bottom: 0;
    right:0;
    left: 0;
    height: 75px;
    background-color: rgba(215,215,210, .55);

    @include media-up-to(sm) {
      text-align: center;
    }

    h2 {
      margin-left: 55px;
      color: darken($color-blue-font, 5%);

      @include media-up-to(sm) {
        margin-left: unset;

      }
    }
  }

}

.card {
  margin-top: 20px;
  @include media-up-to(sm) {
    margin-top: 15px;
  }
}

.card-image {
  height: 340px;
  background-size: 80% auto;
}


.details {
  @extend .row-top-padding;
  @extend .row-bottom-padding;
  background-color: $color-super-lightgray;

  .detail {
    padding: 20px;

    div {
      height: 100%;
      width: 100%;
      padding: 30px;
      border: dashed $color-lightgray 2px;
    }
  }
}

