<main class="container-fluid">

  <div class="row">
    <div class="main-image-pane col-xs-12"  [style.background-image]="'url(../../assets/images/' + detail.mainImage.url + ')'">
      <div class="title"><h2> {{ detail.title.toUpperCase() }}</h2></div>
    </div>

  </div>
  <section class="row image-cards">
    <div class="col-xs-12 col-sm-6 col-md-4 card-wrapper" *ngFor="let image of detail.images">
      <div class="card">
        <div class="card-header">
          {{ image.alt }}
        </div>
        <div class="card-image" [style.background-image]="'url(../../assets/images/' + image.url + ')'"></div>
        <div class="card-content">
          {{ image.desc }}
        </div>
        <div class="card-action">
          <a [href]="image.link">View More Detail</a>
        </div>
      </div>
    </div>
  </section>
  <section class="row row-eq-height details">
    <article *ngFor="let article of detail.details" class="col-xs-12 col-sm-4 detail">
      <div>{{ article }}</div>
    </article>
  </section>
</main>
