@import "../../assets/styles/variables";

.breadcrumb {
  background-color: $color-white;
}

.main-image-pane {
  background-image: url('../../assets/images/Livingroom_Header.jpg');
  background-repeat: no-repeat;
  background-color: #f3ede8;
  background-position: center -27px;
  min-height: 372px;
  .title {
    position: absolute;
    bottom: 0;
    right:0;
    left: 0;
    height: 75px;
    background-color: rgba(255,255,255, .5);
    h2 {
      margin-left: 55px;
    }
  }

}

article.detail {
  top: 0;
  bottom:0;
  p {
    padding: 10px 40px;
    margin: 0;
  }
}
