@import url('https://fonts.googleapis.com/css?family=Montserrat:b,300,400,500,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Roboto:b');

//below are Material stuff
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,400italic');

//
//<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
//<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


@import "./variables";

body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat','Open Sans', sans-serif;
  @include media-up-to(sm) {
    padding-top: $mobile-header-fixed-height;
  }

  @extend .smooth-text;
}

h2 {
  font-size: 27px;
  @include media-up-to(sm) {
    font-size: 23px;
  }
}
