@import url('https://fonts.googleapis.com/css?family=Montserrat:b,300,400,500,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Roboto:b');

//below are Material stuff //TODO: Once we use mat extensively figure out why theme is not loading.
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,400italic');

@import "./variables";
@import "./matDialog";


body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat','Open Sans', sans-serif;
  @include media-up-to(sm) {
    padding-top: $mobile-header-fixed-height;
  }

  @extend .smooth-text;
}

h2 {
  font-size: 27px;
  @include media-up-to(sm) {
    font-size: 23px;
  }
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;

}
