@import url('https://fonts.googleapis.com/css?family=Montserrat:b');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Roboto:b');

@import "./variables";

body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat','Open Sans', sans-serif;
  @include media-up-to(sm) {
    padding-top: $mobile-header-fixed-height;
  }

  @extend .smooth-text;

}
