$color-blue: #00529f;
$color-blue-font: #023b96;
$color-navy: #25246b;
$color-white: #fff;
$color-black: #000;
$color-darkgray: #333;
$color-lightgray: #d2d2d2;
$color-super-lightgray: #e2e2e2;
$divider-border-lightgray: solid $color-lightgray .05em;
$header-box-shadow: 0px 0px 4px 0px rgba(0,0,0, .5);

$switch-site-height: 40px;
$mobile-switch-site-height: 25px;

$logo-row-height: 94px;
$mobile-logo-row-height: 68px;

$header-fixed-height: $switch-site-height + $logo-row-height;
$mobile-header-fixed-height: $mobile-switch-site-height + $mobile-logo-row-height;

$vertical-menu-width: 75%;
$vertical-menu-animation-duration: 150ms;


@mixin media-up-to($media) {
  @if $media == lg {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: 991px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 575px) { @content; }
  }
}


@mixin img-keep-ratio($max-height) {
  display: block;
  max-height: $max-height;
  width: auto;
  height: auto;
}

@mixin filter ($filter) {
  filter: $filter;
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
}

.smooth-text {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
