$color-blue: #00529f;
$color-navy: #25246b;
$color-white: #fff;
$color-darkgray: #333;
$color-lightgray: #d2d2d2;
$color-super-lightgray: #e2e2e2;
$divider-border-lightgray: solid $color-lightgray .05em;
$mobile-switch-site-height: 23px;
$mobile-logo-row-height: 68px;
$mobile-header-fixed-height: $mobile-switch-site-height + $mobile-logo-row-height;


@mixin media-up-to($media) {
  @if $media == lg {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: 991px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 575px) { @content; }
  }
}


@mixin img-keep-ratio($max-height) {
  display: block;
  max-height: $max-height;
  width: auto;
  height: auto;
}
