//variables

$color-blue: #00529f;
$color-blue-font: #023b96;
$color-navy: #25246b;
$color-white: #fff;
$color-black: #000;
$color-darkgray: #333;
$color-lightgray: #d2d2d2;
$color-super-lightgray: #e8e8e8;
$color-green: #039058;
$color-grey-transparent: rgba(20,20,20, 0.4);

$divider-border-lightgray: solid $color-lightgray .05em;
$header-box-shadow: 0px 0px 4px 0px rgba(0,0,0, .5);
$box-shadow: 0px 2px 4px 0px rgba(80,80,80, .3);

$row-col-spacing-height: 20px;

$switch-site-height: 40px;
$mobile-switch-site-height: 25px;

$logo-row-height: 94px;
$mobile-logo-row-height: 68px;

$header-fixed-height: $switch-site-height + $logo-row-height;
$mobile-header-fixed-height: $mobile-switch-site-height + $mobile-logo-row-height;

$vertical-menu-width: 75%;
$vertical-menu-animation-duration: 150ms;

//mixings

@mixin media-up-to($media) {
  @if $media == lg {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: 991px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 575px) { @content; }
  }
}


@mixin img-keep-ratio-height($max-height) {
  display: block;
  max-height: $max-height;
  width: auto;
  height: auto;
}
@mixin img-keep-ratio-width($max-width) {
  display: block;
  max-width: $max-width;
  width: auto;
  height: auto;
}

@mixin filter ($filter) {
  filter: $filter;
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
}

//text styling

.smooth-text {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.word-break:before {
  content:"\A";
  white-space:pre;
}

//custom card style

.card {
  border: $divider-border-lightgray;
  border-color: $color-super-lightgray;
  box-shadow: $box-shadow;

  .card-header, .card-content, .card-action {
    padding: 20px;
    @include media-up-to(sm) {
      padding: 15px;
    }
  }

  .card-action {
    padding-top: 10px;

    @include media-up-to(sm) {
      padding-top: 5px;
    }
  }

  .card-image {
    img {
      margin: auto;
      display: block;
    }
  }

  .card-action {

    a {
      font-size: 15px;
      font-weight: bold;
      color: $color-green;
      &:hover {
        text-decoration: none;
      }
    }

    a, button {
      cursor: pointer;
    }
  }
}

//bootstrap grid helper

.row-eq-height {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.top-padding {
  padding-top: $row-col-spacing-height;
}

.bottom-padding {
  padding-bottom: $row-col-spacing-height
}

.top-margin {
  margin-top: $row-col-spacing-height
}

.bottom-margin {
  margin-bottom: $row-col-spacing-height
}
